@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
*{
    padding: 0;
    margin: 0; 
    font-family: 'Quicksand', sans-serif;
}
body{
    background: #262626;
}
ul{
    position: absolute;
    top: 50%;  left: 50%;
    transform: translate(-50%,-50%);
}
ul li{
    list-style: none;
    position: absolute;   
    top: -80px;  bottom: -80px;  left: -80px;  right: -80px;
    border-radius: 50%;
    animation: animate 2s infinite linear;
}
ul li:nth-of-type(1){
     animation-duration: 1s;
}
ul li:nth-of-type(2){
    animation-duration: 1.5s;
}
ul li:nth-of-type(3){
   animation-duration: 2s;
}

ul li::before{
   content: '';
   position: absolute;
   top: 0;  left: 50%;
   transform: translate(-50%,-50%);
   width: 15px;  height: 15px;
   border-radius: 50%;
}
ul li:nth-of-type(1)::before{
    background: #27ae60;
}
ul li:nth-of-type(2)::before{
    background: #2980b9;
}
ul li:nth-of-type(3)::before{
    background: #c0392b;
}

@keyframes animate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}